/*  Layout: Make sure content-section fits the window size.
 */
#root
  display: flex
  height: 100vh
  overflow: auto
  & > div
    flex: 1 1 auto
    display: flex
    flex-direction: column
  .site-header
    flex: 0 0 auto
    margin: 0
    padding: 0
  .content-section
    flex: 1 1 auto
    display: flex
    flex-direction: column
    overflow: auto
    margin: 0
    padding: 0

/*  Theme: Get the colours and sizing right
 */
.site-header
  color: $secondary
  background: $primary
  
  h1
    font-size: 1.2em
    margin: 0
    padding: 0

  .title
    display: inline-block
    padding: 0

  .link
    display: inline-block
    margin: 0.5em
    padding: 0.5em
    color: #fff
    text-decoration: none
    border-radius: 0.5em
    &.active,
    &:hover
      background-color: $tertiary

/*  Common Elements
 */

.button
  display: inline-block
  margin: 0.25em
  padding: 0.25em 1em
  border: 0.2em solid $primary
  color: $primary
  background: $secondary
  vertical-align: middle
  border-radius: 1em
  cursor: pointer
  box-shadow: 0 0.2em 0.2em #333
  
  &:hover
    color: $highlight
    border: 0.2em solid $highlight
    transform: translate(0, -0.1em)
    box-shadow: 0 0.3em 0.2em #333

.message
  margin: 0.25em
  padding: 0.5em
  border: 0.2em solid $primary
  color: $tertiary
  text-align: center
  border-radius: 1em

  &.error
    background: $anti
    border: 0.2em solid $tertiary
    color: $secondary
