.experimental
  table
    border-collapse: collapse
    margin: 0 auto
    
    tr
      
    td
      width: 2em
      height: 2em
      overflow hidden
      background: #ccc
      text-align: center
      vertical-align: middle
      
      &.wall
        background: #333
        
      &.path
        background: #39c
