.home-page
  padding: 0.5em 1em

  h1
    font-size: 1.4em
    
  h2
    font-size: 1.2em
  
  .zooniverse
    margin-top: 2em
    padding: 1em
    background: $neutral-light
    border-radius: 1em
    
    a
      display: inline-block
      vertical-align: middle
      color: $neutral-dark
      
      .zooniverse-logo
        fill: $primary-light
      
      &:hover .zooniverse-logo
        fill: $secondary
