.login-button
.logout-button
  display: inline-block
  background: rgba(0,0,0,0.2)
  padding: 0.4em 0.5em
  border-radius: 0.5em
  margin-left: 2em
  
  span
    font-size: 0.8em
    margin-right: 1em
  
  button
    background: $secondary
    color: $primary
    cursor: pointer
    border: none
    border-radius: 0.5em
