.painter
  margin: 1em auto
  border: 1px solid $tertiary
  background: $secondary
  position: relative
  
  > canvas
    display: block
    position: relative
    max-width: 100%
    touch-action: none  //Prevents IE/Edge from intrepreting touch input as scroll/pan commands.
  
  .subject
    background: $tertiary
    
  .classifier
    position: absolute
    top: 0
    left: 0
    background: rgba(255, 255, 255, 0.5)
    opacity: 0.8

.painter-output
  margin: 1em
  
  textarea
    display: inline-block
    height: 5em
    width: 10em
  
  a
    display: inline-block
    background: $primary
    color: $secondary
    text-decoration: none
    margin: 1em
    padding: 0.5em
    border-radius: 1em
