@keyframes loading-pulse {
  from {
    fill: $primary;
  }
  to {
    fill: $secondary;
  }
}

.svg-viewer-v3
  background: $neutral-dark
  display: block
  margin: 0 auto
  cursor: all-scroll
  flex: 1 1 auto
  
  &.show-aggregations-none
    .aggregated-text    
      display: none
    
  &.show-aggregations-overlay
    .aggregated-text    
      .circle
        fill: rgba(153, 51, 153, 0.2)
      .path
        fill: rgba(255, 255, 255, 0.3)
      .text
        fill: rgba(0, 0, 0, 0)
    .aggregated-text:hover
      .circle 
      .path
        fill: rgba(255, 255, 255, 1)
      .text
        fill: rgba(0, 0, 0, 1)
  
  &.show-aggregations-full
    .aggregated-text    
      .circle.start
        fill: rgba($primary-light, 0.5)
      .circle.end
        fill: rgba($primary-light, 0.5)
      .path
        fill: rgba($secondary, 0.9)
      .text
        fill: rgba($tertiary, 1)
    
.svg-image-v3-loading
  animation-name: loading-pulse
  animation-duration: 1s
  animation-direction: alternate
  animation-iteration-count: infinite

.svg-image-v3-error
  fill: $primary
  stroke: $secondary
  stroke-width: 4
