@keyframes loading-pulse {
  from {
    fill: $primary;
  }
  to {
    fill: $secondary;
  }
}

.svgViewer
  background: $tertiary
  display: block
  margin: 0 auto
  border: 1px solid white
  
  &:focus
    border: 1px solid red
  
  .aggregated-text    
    .circle
      fill: rgba(255, 255, 255, 0.4)
    .path
      fill: rgba(255, 255, 255, 0.2)
    .text
      fill: rgba(0, 0, 0, 0)
  
  .aggregated-text:hover
    .circle 
    .path
      fill: rgba(255, 255, 255, 1)
    .text
      fill: rgba(0, 0, 0, 1)

.svgImage-loading
  animation-name: loading-pulse
  animation-duration: 1s
  animation-direction: alternate
  animation-iteration-count: infinite

.svgImage-error
  fill: $primary
  stroke: $secondary
  stroke-width: 4
