$primary = #369
$primary-light = #39c
$primary-dark = #036
$highlight = #3cf
$secondary = #fff
$tertiary = #336
$neutral = #999
$neutral-light = #ccc
$neutral-dark = #666
$anti = #c33

:root
  color: $tertiary
  background-color: $secondary
  font-size: 12px
  font-family: "Roboto", Arial, sans-serif

html
body
  margin: 0
  padding: 0

a
  text-decoration: none
  color: $primary
  
  &:hover
    color: $primary-light

input, textarea
  font-size: inherit